<ion-view view-title="Skadi klus app" class="page-login" name="login-view">
  <ion-content class="padding">
    <img class="logo" src="img/Skadi.jpg"/>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Gebruikersnaam" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Wachtwoord" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="login()">Inloggen</button>
  </ion-content>
</ion-view>
